<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

	<WVC_UltraSettings>Ultra Expansion</WVC_UltraSettings>

	<WVC_UltraSettings_Tab_General>General</WVC_UltraSettings_Tab_General>

	<WVC_UltraSettings_Label_DEV>Debug</WVC_UltraSettings_Label_DEV>
	<WVC_UltraSettings_Tooltip_DEV>DEV USE ONLY.</WVC_UltraSettings_Tooltip_DEV>

	<!-- <WVC_UltraSettings_Label_Generator>DEV: Re-Generate Implants</WVC_UltraSettings_Label_Generator> -->

</LanguageData>