<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

	<WVC_UltraSettings>Ultra Expansion</WVC_UltraSettings>

	<WVC_UltraSettings_Tab_General>General</WVC_UltraSettings_Tab_General>

	<WVC_UltraSettings_Label_DEV>Debug</WVC_UltraSettings_Label_DEV>

	<WVC_UltraSettings_Label_Generator>Implant generator</WVC_UltraSettings_Label_Generator>
	<WVC_UltraSettings_Tooltip_Generator>DEV USE ONLY.

If enabled, at startup it generates sets of implants according to predefined parameters.</WVC_UltraSettings_Tooltip_Generator>

</LanguageData>